{% extends 'padre.html' %}


{% block bloqueQueCambia %}
  <h1>Sobre Nosotros  </h1>
  <h3>Descripcion de los desarrolladores del sitio</h3>
  <br>
  <p> Somos alumnos de la academia CoderHouse. Nuestros nombres son: Fernando Francisco Agustin Castellaro y
    Guido Ivan Ferreyra de la comisión N° 37985. 
    <br>Esta pagina web es nuestro proyecto final del curso "Python".
    Dicho curso fue dictado por el profesor Mauricio Cuello. </p>

  

  
<br>

<div class="card" style="width: 18rem;">
    <div class="card-body">
  
      <h5 class="card-title">Fernando Francisco Agustin Castellaro</h5>
      <h6 class="card-subtitle mb-2 text-muted">Programador</h6>
      <p class="card-text">Formacion completa en cursado de Python en CoderHouse.</p>
      
      <a target="_blank" href="https://www.linkedin.com/in/fernando-castellaro-556739118/" class="card-link">linkedin</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    
    <div class="card-body">
      <h5 class="card-title"> Guido Ivan Ferreyra</h5>
      <h6 class="card-subtitle mb-2 text-muted">Programador</h6>
      <p class="card-text">Formacion completa en cursado de Python en CoderHouse.</p>
      
      <a target="_blank" href="https://www.linkedin.com/in/guido-ferreyra-593769236/" class="card-link">linkedin</a>
    </div>
  </div>
{% endblock bloqueQueCambia  %}

