{% extends 'padre.html' %}

{% load static %}



{% block bloqueQueCambia %}

<section class="contenedor">
  <div class="tittle-subtittle">
    <br>
    <br>
      <h1 class="tittle">Experiencia en reparación de automotores</h2>
      Contamos con experiencia, personal especializado y las herramientas necesarias para brindar un servicio profesional y 
      altamente competitivo. Creamos procesos para brindar la solución exacta y definitiva con garantía. <br> Brindamos un servicio 
      transparente, sin sorpresas y sin costos ocultos. Nuestro trabajo es igual o mejor que el del concesionario oficial y a menor costo. 
      Hacemos mecánica integral del autómovil para todas las marcas, diagnóstico computarizado <br>y diagnóstico Pre VTV en Saavedra, C.A.B.A.
      <br>
      <br>
      <h4 class="mensaje" style='color:#0d6efd'>{{mensaje}}</h4>
      <br>
  </div>
  <div class='supratext'>
    <h1 >RAPIDEZ • CALIDAD • EFECTIVIDAD • ATENCIÓN PERSONALIZADA</h1>
  </div>
  <br>
  <img src='../static/blog/assets/img/banner.png' width='100%'>
</section>
  
    
{% endblock bloqueQueCambia  %}
    