{% extends 'padre.html' %}


{% block bloqueQueCambia %}


<div class="cont-tittle">
    <div class="tittle-subtittle">
      <br>
      <br>
        <h1 class='tittle'>Solicitar reparacion.</h1>
        <h3>Ingresa tus datos para cargarte como cliente y poder solicitar una reparacion.</h2>

        <form action="{% url 'clienteFormulario' %}" method="POST">
          {% csrf_token %}

        {{miFormulario.as_p}}
          <input type="submit" value="Enviar" class='btn btn-primary'>

        </form>
        
        <br>
        <a href="{% url 'lista' %}" class='mi-link'>Volver</a>
    </div>
    <br>
</div>


{% endblock bloqueQueCambia  %}
    
