{% extends 'padre.html' %}


{% block bloqueQueCambia %}
  

      <div class="row row-cols-1 row-cols-md-4 g-4" style="width: 110rem"   >
        <div class="col" >
          <div class="card h-100" >
            <img src="https://us.123rf.com/450wm/sanek13744/sanek137441703/sanek13744170300168/74265698-pin-icono-de-vector-signo-de-ubicaci%C3%B3n-en-estilo-plano-aislado-sobre-fondo-blanco-mapa-de-navegaci%C3%B3n.jpg" class="card-img-top" alt="..." >
            <div class="card-body" >
              <h5 class="card-title">DIRECCIÓN</h5>
              <p class="card-text">Pérez Bulnes 1827 Entre Trejo y Sanabria y Antonio Lucero Río Cuarto, Córdoba</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://thumbs.dreamstime.com/b/icono-del-correo-electr%C3%B3nico-aislado-en-el-fondo-blanco-106510001.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">EMAIL</h5>
              <p class="card-text">tallermecanico@gmail.com</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://i.pinimg.com/736x/1d/10/c0/1d10c0ab5272feb0f9ceb07955e623eb.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">TELÉFONO</h5>
              <p class="card-text">(0548) 462 7829 | (0548) 463 78498 5435-84874565</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://thumbs.dreamstime.com/b/vector-del-icono-calendario-horario-y-control-para-el-dise%C3%B1o-gr%C3%A1fico-logotipo-sitio-web-medio-social-app-m%C3%B3vil-ejemplo-ui-149128950.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">HORARIO</h5>
              <p class="card-text"> Lunes a jueves de 08:00 a 17:00 Hs.
        
                Viernes de 08:00 a 16:00 Hs</p>
            </div>
          </div>
        </div>
      </div>
{% endblock bloqueQueCambia  %}


    