<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Wed Mecanica</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'blog/css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'blog/css/customs.css' %}" rel="stylesheet" />

        
        {% block style %}
            
        {% endblock style %}
            

    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-dark bg-dark">
            <div class="container">
                <a href="{% url 'inicio' %}"><img src="../static/blog/assets/img/logo.png" alt="" width="130px"></a>
                <a class="navbar-brand" href="{% url 'inicio' %}"><img src='../static/blog/assets/img/icon-home.png'  width="25px"> Inicio</a>
                <a class="navbar-brand" href="{% url 'quienesSomos' %}"><img src="../static/blog/assets/img/icono-nosotros.png" alt="" width="35px">Nosotros</a>
                <a class="navbar-brand" href="{% url 'MecanicoFormulario' %}"><img src='../static/blog/assets/img/mecanicos.png'  width="25px"> Mecanicos</a>
                <a class="navbar-brand" href="{% url 'reparaciones' 0 %}"><img src='../static/blog/assets/img/icon-servicio.png'  width="25px"> Reparaciones</a>
                <a class="navbar-brand" href="{% url 'lista' %}"><img src='../static/blog/assets/img/icon-clientes.png'  width="25px"> Clientes</a>
                <a class="navbar-brand" href="{% url 'appMensajeria:blog' %}"><img src='../static/blog/assets/img/comentarios-logo.png'  width="45px">Comentarios</a>

                

                {% if user.is_authenticated %}
                     
                     {% if url %}
                     <img src="{{url}}" height="40px" alt="avatar">
                     
                        
                     {% endif %}
                    

                    <p style="color:white" class="user">Hola {{user.username}}!</p>
                    <a class="btn btn-primary" href="{% url 'EditarDatos' %}"><b>Editar Perfil</b></a>
                    <a class="btn btn-primary" href="{% url 'Logout' %}"><b>Cerrar sesion</b></a>
                
                {% else %}
                    <a class="btn btn-primary" href="{% url 'Login' %}">Iniciar sesion</a>
                    <a class="btn btn-primary" href="{% url 'Registrar' %}">Registrarse</a>
                {% endif %}
                
                    
               
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">Mecanica CODER'S</h1>
                            <!-- Signup form-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                            <form class="form-subscribe" id="contactForm" data-sb-form-api-token="API_TOKEN"></form>
                                <!-- Email address input-->
                                <div class="row">
                                    <div class="col">
                                        
                                        <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:required">Email Address is required.</div>
                                        <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:email">Email Address Email is not valid.</div>
                                    </div>
                                
                                </div>
                                <!-- Submit success message-->
                                <!---->
                                <!-- This is what your users will see when the form-->
                                <!-- has successfully submitted-->
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        <p>To activate this form, sign up at</p>
                                        <a class="text-white" href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                    </div>
                                </div>
                                <!-- Submit error message-->
                                <!---->
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        
        {% block bloqueQueCambia %}
            
        {% endblock bloqueQueCambia %}
            
        
        <!-- Footer-->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a href="{% url 'About' %}">Sobre Nosotros</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="{% url 'contact' %}">Contacto</a></li>
                            <li class="list-inline-item">⋅</li>
                            
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2022. All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a target="_blank" href="https://www.facebook.com/groups/223917121110314"><i class="bi-facebook fs-3"></i></a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a target="_blank" href="https://twitter.com/automek"><i class="bi-twitter fs-3"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a target="_blank" href="https://www.instagram.com/tips_consejos_de_mecanica/"><i class="bi-instagram fs-3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
