{% extends 'padre.html' %}


{% block bloqueQueCambia %}


<section class="contenedor">
    <div class="tittle-subtittle">
        <br>
        <br>
        <h1 class="tittle">¿ Quienes Somos ? </h1>
        <h4>INGENIERIA AUTOMOTRIZ - POWERINYECTION</h4>
        <p>
            HOLA! SOMOS INGENIERIA AUTOMOTRIZ, UNA EMPRESA FAMILIAR CON TITULOS UNIVERSITARIOS EN INGENIERIA ELECTRONICA 
            Y CON MÁS DE 40 AÑOS DE TRAYECTORIA, ESPECIALMENTE DEDICADA A LA REPARACIÓN, SUSTITUCIÓN Y REPROGRAMACION DE SISTEMAS 
            O MÓDULOS ELECTRÓNICOS AUTOMOTRICES ( ECU DE MOTOR - INMOVILIZADORES - LLAVES CODIFICADAS - ABS - ESP - AIRBAG - CUADRO 
            DE INSTRUMENTOS - ETC), COMO ASÍ TAMBIÉN AL DESARROLLO Y APLICACIÓN DE INGENIERIA DE SOFTWARE DE MOTOR ( CHIP TUNING - 
            PERFORMANCE - ECO TUNING - ANULACIONES DE ACTUADORES - ELIMINACION DE DTCS - DESINMOVILIZACIONES Y REPROGRAMACIONES EN GENERAL).
            POR OTRA PARTE TAMBIEN AL DIAGNÓSTICO Y SOLUCIÓN DE FALLAS DE ALTA COMPLEJIDAD DE REPARACIÓN. CONTAMOS CON UN INNOVADOR 
            TALLER DE 600 METROS CUADRADOS JUNTO A UN COMPLETÍSIMO Y SOFISTICADO HERRAMENTAL DE ULTIMA GENERACIÓN, TANTO MECÁNICO COMO 
            ASÍ TAMBIÉN ELECTRÓNICO Y SOFTWARE, EXTREMADAMENTE NECESARIO Y EXCLUYENTE EN LOS TIEMPOS QUE CORREN PARA LOGRAR MEDICIONES, 
            REPARACIONES Y REPROGRAMACIONES EN LOS SISTEMAS Y MODULOS QUE EQUIPAN LOS VEHÍCULOS EN LA ACTUALIDAD.
            
            RESPONSABILIDAD y PROFESIONALISMO
            AL ALCANCE DE SU VEHICULO Y PRINCIPALMENTE DE USTED</p>
        <br>
        <br>
    </div>
</section>

    
{% endblock bloqueQueCambia  %}
    