{% extends 'padre.html' %}


{% load static %}

{% block style %}

        <link href="{% static 'blog/css/customs.css' %}" rel="stylesheet" />
            
{% endblock style %}
    


{% block bloqueQueCambia %}
<div class="cont-tittle">
  <div class="tittle-subtittle">
    <br>
    <h1 class='tittle'><img src='../static/blog/assets/img/icon-servicio.png'  width="40px"> Reparaciones</h1>
    <p>Contamos con un equipo de profesionales altamente calificados, alcanzando los estándares de excelencia requeridos en la industria
      automotriz. Nuestros técnicos son capaces de reparar toda marca y modelo de vehículo usando
      neumáticos de primeras marcas <br> y repuestos de excelente calidad.</p>
      <a href="{% url 'clienteFormulario' %}"><button class='btn btn-primary'>Solicitar reparacion</button></a>
      <br>
      <br>
  </div>
  <br>

</div>


<section class="lista_reparaciones">

{% for reparacion in lista_reparaciones %}

<div class="card" style="width: 18rem;">
  <img src="../../media/{{reparacion.imagen}}" width='100%' class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{reparacion.desperfecto}}</h5>
    <p class="card-text">{{reparacion.descripcion}}</p>
    <a href="{{reparacion.video}}" class="btn btn-primary" target="_blank">Ver mas</a>
  </div>
</div>
  
{% endfor %}
  
</section>




<nav aria-label="...">
  <ul class="pagination">

  {% if current_page > 0 %}

    <li class="page-item">
      <a class="previous" href="{% url 'reparaciones' current_page %}?direction=previous">Anterior</a>
    </li>
    
  {% endif %}
      
  
  {% if current_page < 2  %}
    
    <li class="page-item">
      <a class="next" href="{% url 'reparaciones' current_page %}?direction=next">Siguiente</a>
    </li>


  {% endif %}
 
  </ul>
</nav>


</div>

{% endblock bloqueQueCambia  %}
    
