
{% extends 'padre2.html' %}
{% load static %}


{% block bloqueQueCambia %}
<div class="cont-tittle">
    <div class="tittle-subtittle">
      <br>
        <h2 class='tittle'>Tu experiencia nos ayuda a mejorar ! </h1>
            <br>

            <form method='POST'>
            
            {% csrf_token %} 
            {{form.media}}
            Nombre {{form.nombre}}
            <br>
            <br>
            Email {{form.email}}
            <br>
            <br>
            Titulo {{form.titulo}}
            <br>
            <br>
            <h3 class='tittle'>Contanos !</h3>
            {{form.contenido}}
            <br>

            <button type='submit' class='btn btn-primary'>Enviar</button>
            </form>
    </div>
    <br>
      
</div>

{% endblock bloqueQueCambia  %}
